.button_link {
  font-weight: 700;
  color: var(--btn-color);
  border: 2px solid var(--btn-color);
  border-radius: 0.6rem;
  background-color: transparent;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
