.section_description {
  max-width: 70rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
}

.wrapper_img img {
  height: 32rem;
}

.wrapper_text {
  max-width: 30rem;
}

.wrapper_text h2 {
  margin-bottom: 1rem;
}
