.section_formular {
  width: 90vw;
  background-color: #cfe8e8;
  color: darkslategray;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.wrapper_form {
  width: 40vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.form_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  margin: 1rem 0;
}

.output_box {
  text-align: left;
}

input {
  border: 1px solid darkslategray;
  border-radius: 0.2rem;
  padding: 0.2rem;
}
