* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  background-color: #232323;
  color: white;
}

.light {
  background-color: white;
  color: #232323;
}

.light a {
  color: green;
}

.dark a {
  color: red;
}
