footer {
  height: 20.4rem color var(--footer-bg-color);
  background-color: var(--footer-bg-color);
  padding: 1rem;
  background-image: url("../../../public/img/footer.png");
  background-repeat: no-repeat;
  background-position: right;
}

footer section {
  max-width: 70rem;
}

footer p {
  font-size: 0.8rem;
  color: var(--q-font-color);
  line-height: 2rem;
}

.wrapper_info {
  border-top: 1px solid var(--q-font-color);
  margin: 3rem;
}

.wrapper_info img {
  margin: 1rem 0;
}

.wrapper_copyright p {
  text-align: center;
}
