.section_darkmode {
  height: 28rem;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_darkmode h1 {
  font-size: 5rem;
  margin-bottom: 0.8rem;
}

.btn_change {
  border-radius: 1.5rem;
  background-color: transparent;
  padding: 0.8rem 1.5rem;
}

.btn_night {
  color: #cfe8e8;
  border: 1px solid #cfe8e8;
}

.btn_day {
  color: darkslategray;
  border: 1px solid darkslategray;
}

.night {
  background-color: darkslategray;
  color: #cfe8e8;
}

.day {
  background-color: #cfe8e8;
  color: darkslategray;
}
